body {
  font-family: "Sarabun", sans-serif !important;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Kanit", sans-serif !important;
  font-weight: 400 !important;
}
.navbar-nav {
  font-family: "Kanit", sans-serif !important;
}

/* sizing component*/
.text-white{
  color: white;
}
.text-blueprimary{
  color: #125091 !important;

}
.text-bluesecondary{
  
  color: #114E8F;
}
.bg-blueprimary{
  background-color: #125091 !important;
}
.bg-white{
  background-color: white;
}
.pt-90{
  padding-top: 90px;
}
.pt-100{
  padding-top: 100px;
}
.pt-60{
  padding-top: 60px;

}
.pb-200{
  padding-bottom: 200px;
}
.mt-70{
  margin-top: 70px;
}
.mt-20 {
  margin-top: 20px;
}
.mt-90 {
  margin-top: 90px;
  padding-bottom: 200px;
}
.h-5{
  height: 5px;
}

.pl-100{
  padding-left: 100px;
}
.pr-100{
  padding-right: 100px;
}
.zindex999{
  z-index: 999;
}
.zindex99{
z-index: 99;
}
.zindex999-dpnone{
  z-index: 999;
  display: none;
}
.h-200{
height: 200px;
}
/* end sizing component */

/* HOME  */
/* logo  */

/* end logo  */
/* navbar  */
.navbar {
  padding: 0rem 0rem;
}
nav .container {
  height: 90px;
}


.list-style-type-n{
  list-style-type: none;
}
.btnav {
  height: 5px;
  background-color: #eaaa28;
  margin-top: 5px;
  margin-bottom: 0rem;
}
.logo-sm {
  background-image: url(../pic/logo_sm.png);
}
.img-logo{
  position: absolute; 
  margin-left: -100px;
  z-index: 99;
}
.pic-logo-white{
  width: 20%;
    margin-left: 200px;
    margin-top: 232px;
    z-index: 999;
    position: absolute;
}


/* end nav  */

/* header  */
.header {
  height: 500px;
  background-image: url(../pic/header.png);
}
.home {
  width: 100%;
  padding: 10px 10px;
  background-color: #ffba2c;
  border-radius: 20px;
  cursor: pointer;
}
/* end header  */

/* low header  */
.banner-home-content{
  bottom: 0; 
  padding-top: 100px;
}
.banner-title{
  text-align: left;
  font-weight: bold; 
  font-size: 48px;
  color: white;
  padding-top: 88px;
}
.lowheader {
  height: 740px;
}
.title3button {
  color: #125091;
  font-weight: bold;
}
.sub3button {
  color: #ffba2c;
}
.subbutton {
  font-weight: bold;
  padding: 10px 20px;
  background-color: #125091;
  border-radius: 50px;
  cursor: pointer;
  color: #fff;
  border: none;
}
.getfreebutton{
  font-weight: bold;
  padding: 10px 20px;
  background-color: #125091;
  border-radius: 50px;
  cursor: pointer;
  color: #fff;
  border: none;
  width: 200px; height: 50px; font-size: 20px;
}
.vl {
  border-left: 3px solid green;
  height: auto;
  position: absolute;
}
.buttonheader {
  text-align: center;
}
.threebtwidth {
  width: 100%;
  box-shadow: 0 3px 6px black;
  background-color: white;
}
.buttonlheader {
  height: 100px;
  box-shadow: 0 3px 6px #e6e6e6;
  background-color: white;
  border-radius: 10px;
  width: 100%;
}
.nopd {
  padding-right: 0px;
  padding-left: 0px;
}
.bthd {
  padding-left: 20px;
}
.pd-x {
  padding-top: 100px;
}
.lower {
  padding-left: 0px;
  padding-right: 0px;
}
/* end low header  */

/* sde course  */
.sdecourse {
  height: 890px;
  background: rgb(17, 78, 142);
  background: linear-gradient(
    360deg,
    rgba(17, 78, 142, 1) 0%,
    rgba(32, 104, 181, 1) 66%
  );
}
.hrline {
  width: 100%;
  height: 4px;
  background-color: white;
  margin-top: 105px;
}
.all-course {
  padding: 10px 20px;
  background-color: white;
  color: #125091;
  font-weight: bold;
  border-radius: 50px;
  border: none;
}
.card-shadow {
  box-shadow: 0 3px 6px #e6e6e6;
}
.card {
  height: 322px;
}
.cardcoursestitle {
  color: #125091;
  font-weight: bold;
}
.cardcoursestext {
  color: #125091;
}
.cardcoursestext1 {
  color: #585858;
}
.cardcoursesdate {
  color: #ffba2c;
  font-weight: bold;
  /* avertical-align: text-bottom; */
}
.register {
  width: 400px;
  padding: 10px 10px;
  background-color: #ffba2c;
  color: #fff;
  border-radius: 50px;
  font-size: 24px;
  margin-top: 100px;
  margin-left: 70px;
}
.btn-icon {
  object-fit: contain;
  cursor: pointer;
}
/* end sdecourse  */
/* register tab */
.registertab {
  height: 241px;
  background-image: url(../pic/registerbg.png);
}
.icon-white {
  color: white;
  font-size: 40px;
}
/* end register tab */

/* content */
.content {
  height: 1340px;
}
.freehand {
  background-image: url(../pic/freehand.png);
  padding-left: 0px;
  padding-right: 0px;
  margin-top: 100px;
}
.card-tips{
  max-width: 585px; 
  height: 150px;
}
.card-tips-img{
  height: 150px; 
  object-fit:cover;
}
.fb-extend{
  border:none;
  overflow:hidden
}
/* end content  */

/* pre footer  */
.prefooter {
  height: 270px;
  background: rgb(17, 78, 142);
  background: linear-gradient(
    360deg,
    rgba(17, 78, 142, 1) 0%,
    rgba(32, 104, 181, 1) 66%
  );
}

.linknav a {
  color: white;
}
/* end pre footer  */
/* footer  */
footer {
}
.color-icon {
  color: #114e8f;
}
.icon {
  font-size: 60px;
  color: #114e8f;
}
.ft-social{
  display:inline; 
  color: #114E8F;
}
/* end footer  */

/* @media */
.image2 {
  display: none;
}

@media only screen and (min-width: 1920px) {
  .image1 {
    display: none;
  }

  .image2 {
    display: block;
  }
}

@media screen and (max-width: 768px) {
  .image1 {
    display: none;
  }
}

/* END HOME  */

/* VISION */
.headtext {
  color: #125091;
  font-weight: bold !important;
}
.card-vision-text {
  margin-left: 10px;
  color: #fff;
  font-weight: bold;
  /* font-size: 22px; */
  padding-bottom: 20px;
  bottom: 0;
  position: absolute;
}
/* header  */
.vision-header {
  height: 240px;
  background-image: url(../pic/banner-vision.png);
}
/* END HEADER  */

/* article line  */
.card-vision {
  width: 420px;
  height: 371px;
  border-radius: 50px;

  /* background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  border: none; */
}
.vision-content-img{
  width: 100%;
  height: 762px;
}
.line {
  width: 100%;
  height: 5px;
  background-color: #2068b5;
  border-radius: 50px;
}
.line-article {
  margin-top: 80px;
}
.content-2 {
  margin-top: 100px;
}

/* .load-m {
  color: white;
  padding: 10px 150px;
  background-color: #2068b5;
  border-radius: 20px;
} */
.load-m {
  color: white;
  height: 50px;
  padding: 10px 100px;
  background-color: #125091;
  margin-top: 30px;
  border-radius: 50px;
  border: none;
  font-weight: bold;
}
/* end article line  */
/* END VISION */

/* article line  */
.card-course{
  width: 100%;
  height: auto;
  box-shadow: 0 3px 6px #e6e6e6;
}
.card-course img {
  height: 232px;
}
.card-course-body{
  height: 150px;
}
.cardcoursestitle {
  color: #125091;
  font-weight: bold;
  padding: 15px 15px 0 15px;
}
.cardcoursestext {
  color: #125091;
  padding: 0 15px 0 15px;

}
.cardcoursestext1 {
  color: #585858;
  padding: 0 15px 0 15px;


}
.cardcoursesdate {
  color: #ffba2c;
  font-weight: bold;
  bottom: 0;
  position: absolute;
  /* padding-top: 20px !important; */
  padding: 0 15px 15px 15px;

  /* avertical-align: text-bottom; */
}
.instructortab {
  height: 241px;
  background-image: url(../pic/instructortab.png);
}
.instructor {
  width: 400px;
  padding: 10px 10px;
  background-color: #ffba2c;
  border-radius: 50px;
  color: white;
  margin-top: 100px;
  border: none;
}
/* end register tab */

.road {
  height: 640px;
}
.bt-instructor{
  font-size: 20px; 
  padding-top: 10px;
}
/* end article */