/* VISION FOR SAFTETY  */
/* header  */
.vision-header {
  height: 240px;
  background-image: url(../pic/banner-vision.png);
}
/* END HEADER  */

/* article line  */
.card-vision {
  width: 420px;
  height: 371px;
  border-radius: 50px;

  /* background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  border: none; */
}
.headtext {
  color: #125091;
  font-weight: bold;
}
.card-vision-text {
  color: #fff;
  font-weight: bold;
  font-size: 22px;
  padding-bottom: 10px;
  bottom: 0;
  position: absolute;
}
.line {
  width: 100%;
  height: 5px;
  background-color: #2068b5;
  border-radius: 50px;
}
.line-article {
  margin-top: 80px;
}
.content-2 {
  margin-top: 100px;
}
.mt-20 {
  margin-top: 20px;
}
.mt-90 {
  margin-top: 90px;
  padding-bottom: 200px;
}
.load-m {
  color: white;
  padding: 10px 150px;
  background-color: #2068b5;
  border-radius: 20px;
}
/* end article line  */
/* end  vision for safety */
