/* VISION FOR SAFTETY  */
/* header  */
.vision-header {
  height: 400px;
  background-image: url(../pic/header-2.png);
}
/* END HEADER  */

/* article line  */
.line {
  width: 100%;
  height: 6px;
  background-color: #2068b5;
  border-radius: 10px;
}
.line-article {
  margin-top: 80px;
}
.content-2 {
  margin-top: 100px;
}
.mt-20 {
  margin-top: 20px;
}
.mt-90 {
  margin-top: 90px;
  padding-bottom: 200px;
}
.load-m {
  color: white;
  padding: 10px 150px;
  background-color: #2068b5;
  border-radius: 20px;
}
/* end article line  */
/* end  vision for safety */
