/* article de */
/* header  */
.vision-header {
  height: 400px;
  background-image: url(../pic/article-de-head.png);
}
/* END HEADER  */

/* article line  */
.card {
  height: 450px;
  box-shadow: 0 3px 6px #e6e6e6;

}
.card img{

}
.headtext{
  color: #125091;
  font-weight: bold;
}
.textcaption{
  color: #125091;
}
.textcaption i{
  color: #FFBA2C;
} 
.cardcoursestitle{
  color: #125091;
  font-weight: bold;
}
.cardcoursestext{
  color: #125091;
    }
.cardcoursestext1{
  color: #585858;
}

.line {
  width: 100%;
  height: 6px;
  background-color: #2068b5;
  border-radius: 10px;
}
.line-article {
  margin-top: 80px;
}
.content-2 {
  margin-top: 100px;
}
.mt-20 {
  margin-top: 20px;
}
.mt-90 {
  margin-top: 90px;
  padding-bottom: 200px;
}
.load-m {
  color: white;
  padding: 10px 150px;
  background-color: #2068b5;
  border-radius: 20px;
}
/* end article line  */

/* content  */
.head {
  margin-top: 120px;
}

/* content instructor  */
]
/* end content instructor  */

/* end  article de */
