body {
  font-family: "Sarabun", sans-serif !important;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Kanit", sans-serif !important;
  font-weight: 400 !important;
}
.navbar-nav {
  font-family: "Kanit", sans-serif !important;
}

/* HOME  */
/* logo  */

/* end logo  */
/* navbar  */
.navbar {
  padding: 0rem 0rem;
}
nav .container {
  height: 90px;
}
.btnav {
  height: 5px;
  background-color: #eaaa28;
  margin-top: 5px;
  margin-bottom: 0rem;
}
.logo-sm {
  background-image: url(../pic/logo_sm.png);
}
/* end nav  */

/* header  */
.header {
  height: 500px;
  background-image: url(../pic/header.png);
}
.home {
  width: 216px;
  padding: 10px 10px;
  background-color: #ffba2c;
  border-radius: 20px;
  cursor: pointer;
}
/* end header  */

/* low header  */
.lowheader {
  height: 740px;
}
.title3button {
  color: #125091;
  font-weight: bold;
}
.sub3button {
  color: #ffba2c;
}
.subbutton {
  font-weight: bold;
  background-color: #125091;
  border-radius: 50px;
  cursor: pointer;
  color: #fff;
  border: none;
}
.vl {
  border-left: 3px solid green;
  height: auto;
  position: absolute;
}
.buttonheader {
  text-align: center;
}
.threebtwidth {
  width: 100%;
  box-shadow: 0 3px 6px black;
  background-color: white;
}
.buttonlheader {
  height: 100px;
  box-shadow: 0 3px 6px #e6e6e6;
  background-color: white;
  border-radius: 10px;
  width: 100%;
}
.nopd {
  padding-right: 0px;
  padding-left: 0px;
}
.bthd {
  padding-left: 20px;
}
.pd-x {
  padding-top: 100px;
}
.lower {
  padding-left: 0px;
  padding-right: 0px;
}
/* end low header  */

/* sde course  */
.sdecourse {
  height: 890px;
  background: rgb(17, 78, 142);
  background: linear-gradient(
    360deg,
    rgba(17, 78, 142, 1) 0%,
    rgba(32, 104, 181, 1) 66%
  );
}
.hrline {
  width: 100%;
  height: 5px;
  background-color: white;
  margin-top: 105px;
}
.all-course {
  padding: 10px 10px;
  background-color: white;
  color: #125091;
  font-weight: bold;
  border-radius: 50px;
  border: none;
}
.card-shadow {
  box-shadow: 0 3px 6px #e6e6e6;
}
.card {
  height: 322px;
}
.cardcoursestitle {
  color: #125091;
  font-weight: bold;
}
.cardcoursestext {
  color: #125091;
}
.cardcoursestext1 {
  color: #585858;
}
.cardcoursesdate {
  color: #ffba2c;
  font-weight: bold;
  /* avertical-align: text-bottom; */
}
.register {
  width: 400px;
  padding: 10px 10px;
  background-color: #ffba2c;
  color: #fff;
  border-radius: 50px;
  font-size: 24px;
  margin-top: 100px;
  margin-left: 70px;
}
.btn-icon {
  object-fit: contain;
  cursor: pointer;
}
/* end sdecourse  */
/* register tab */
.registertab {
  height: 241px;
  background-image: url(../pic/registerbg.png);
}
.icon-white {
  color: white;
  font-size: 40px;
}
/* end register tab */

/* content */
.content {
  height: 1340px;
}
.freehand {
  height: 250px;
  background-image: url(../pic/freehand.png);
  padding-left: 0px;
  padding-right: 0px;
  margin-top: 100px;
}
/* end content  */

/* pre footer  */
.prefooter {
  height: 270px;
  background: rgb(17, 78, 142);
  background: linear-gradient(
    360deg,
    rgba(17, 78, 142, 1) 0%,
    rgba(32, 104, 181, 1) 66%
  );
}
.linknav a {
  color: white;
}
/* end pre footer  */
/* footer  */
footer {
  height: 210px;
}
.color-icon {
  color: #114e8f;
}
.icon {
  font-size: 60px;
  color: #114e8f;
}
/* end footer  */

/* END HOME  */
