/* company  */
/* header  */

/* END HEADER  */

/* article line  */
.line {
  width: 100%;
  height: 6px;
  background-color: #2068b5;
  border-radius: 10px;
}
.line-article {
  margin-top: 80px;
}

.load-m {
  color: white;
  padding: 10px 150px;
  background-color: #2068b5;
  border-radius: 20px;
}

/* end article line  */

/* Safe Driver Education */
.driver {
  margin-top: 100px;
  margin-bottom: 100px;
}
.timeline-mt {
  padding-bottom: 100px;
}
/* end Safe Driver Education */

/* sde course  */
.sde-course {
  height: 890px;
  background-color: #2068b5;
}
.line-2 {
  width: 100%;
  height: 6px;
  background-color: white;
  border-radius: 10px;
}
.line-article-2 {
  padding-top: 80px;
}

.name-f {
  color: #eaaa28;
}
.text-in {
  padding-top: 40px;
  font-size: 14px;
}
/* end sde course  */

/* mission  */
.mission {
  height: 890px;
}
.head-mission {
  padding-top: 100px;
}
.img-mission {
  padding-top: 50px;
}
/* end mission  */
/* end  company */
