/* VISION FOR SAFTETY  */
/* header  */
.vision-header {
  height: 400px;
  background-image: url(../pic/article-header.png);
}
/* END HEADER  */

/* article line  */
.headtext{
  color: #125091;
  font-weight: bold;
}
.card{
  height: 520px;
}
.cardcoursestitle{
  color: #125091;
  font-weight: bold;
}
.cardcoursestext{
  color: #125091;
    }
.cardcoursestext1{
  color: #585858;
}
.cardcoursesdate{
  color: #ffba2c;
  font-weight: bold;
  bottom: 0;
  position: absolute;
  padding-bottom: 20px;
  /* avertical-align: text-bottom; */
}
hr.hrline{
  border: none;
  border-bottom: 5px solid #ffba2c;
}
.line {
  width: 100%;
  height: 6px;
  background-color: #2068b5;
  border-radius: 10px;
}
.line-article {
  margin-top: 80px;
}
.content-2 {
  margin-top: 100px;
}
.mt-20 {
  margin-top: 20px;
}
.mt-90 {
  margin-top: 90px;
  padding-bottom: 200px;
}
.load-m {
  color: white;
  font-weight: bold;
  padding: 10px 150px;
  background-color: #125091;
  border: none;
  border-radius: 50px;
}
/* end article line  */
/* end  vision for safety */
