/* HOME  */
/* logo  */
.bglogo {
  position: absolute;
}
/* end logo  */
/* navbar  */
.navbar {
  padding: 0rem 0rem;
}
nav .container {
  height: 90px;
}
.btnav {
  height: 10px;
  background-color: #eaaa28;
  margin-top: 0rem;
  margin-bottom: 0rem;
}
.logo-sm {
  background-image: url(../pic/logo_sm.png);
}
/* end nav  */

/* header  */
.header {
  height: 500px;
  background-image: url(../pic/header.png);
}
.home {
  width: 216px;
  padding: 10px 10px;
  background-color: #ffba2c;
  border-radius: 20px;
  cursor: pointer;
}
/* end header  */

/* low header  */
.lowheader {
  height: 740px;
}
.vl {
  border-left: 3px solid green;
  height: auto;
  position: absolute;
}
.buttonheader {
  text-align: center;
}
.threebtwidth {
  width: 100%;
  box-shadow: 0 3px 6px black;
  background-color: white;
}
.buttonlheader {
  height: 100px;
  box-shadow: 0 3px 6px #e6e6e6;
  background-color: white;
  border-radius: 10px;
  width: 100%;
}
.nopd {
  padding-right: 0px;
  padding-left: 0px;
}
.bthd {
  padding-left: 20px;
}
.pd-x {
  padding-top: 100px;
}
.lower {
  padding-left: 0px;
  padding-right: 0px;
}
/* end low header  */

/* sde course  */
.sdecourse {
  height: 890px;
  background-color: #2169b7;
}
.hrline {
  width: 100%;
  height: 10px;
  background-color: white;
  margin-top: 105px;
}
.all-course {
  padding: 10px 10px;
  background-color: white;
  border-radius: 20px;
}
.register {
  width: 400px;
  padding: 10px 10px;
  background-color: #ffba2c;
  border-radius: 20px;
  margin-top: 100px;
  margin-left: 70px;
}
/* end sdecourse  */
/* register tab */
.registertab {
  height: 241px;
  background-image: url(../pic/registerbg.png);
}
.icon-white {
  color: white;
  font-size: 40px;
}
/* end register tab */

/* content */
.content {
  height: 1540px;
}
.freehand {
  height: 250px;
  background-image: url(../pic/freehand.png);
  padding-left: 0px;
  padding-right: 0px;
  margin-top: 100px;
}
/* end content  */

/* pre footer  */
.prefooter {
  height: 270px;
  background-color: #2068b5;
}
.linknav a {
  color: white;
}
/* end pre footer  */
/* footer  */
footer {
  height: 210px;
}
.color-icon {
  color: #114e8f;
}
.icon {
  font-size: 60px;
  color: #114e8f;
}
/* end footer  */

/* END HOME  */
